<div class="container">
	<!-- <h3>Creating Value for your
Business</h3>
<p>
  We are committed to providing the highest quality support and
customer services through a collaborative client relationships. :)
</p>
<hr> -->


</div>




<!-- Login Modal -->
<div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Please Login here</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="input-email rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp">
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="rounded-0" id="exampleInputPassword1">
  </div>
						<button type="submit" class="btn btn-login">Submit</button>

						<div class="my-2">
							<span>If you don't have an account <a href="#">click here</a></span>
						</div>
				</form>
			</div>
      <div class="p-3 text-center">
        <p>Use social sign in</p>
        <button type="button" class="btn btn-google m-2">
          <i class="fa fa-google"></i> Google
        </button>
        <button type="button" class="btn btn-facebook m-2">
          <i class="fa fa-facebook"></i> Continue with Facebook
        </button>
      </div>
		</div>
	</div>
</div>
